// Custom styles.
// 整体样式
.header{
    background-color: #2d87e2;
}
.brand,
.menu .menu-item a{
    color: #fff;
}
.menu .menu-item a:hover{
    color: #2d87e2;
}
.logo-line-after i, .logo-line-before i{
    background-color: currentColor;
}
// 文章列表样式修改
.posts-expand .post{
    margin-top: 60px;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 5px #e5e5e5;
}